*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.sublime-project
*.sublime-workspace
.DS_Store
tree_ext.cpp
interputils_cython.c

# Jupyter
*.ipynb

# docs
docs/_build/
docs/warnings.txt
docs/api/generated/*
docs/gallery
docs/tutorials
docs/modules

# downloads for examples
laguna_del_maule_slicer/*
