# Configuration file for TravisCI

# We use miniconda for Python so don't need any Python specific tools
language: generic

sudo: false

env:
  global:
    - MASTER_BRANCH=master
    - PYPI_PY=3.7  # deploy to pypi from python 3.6
    - GAE_PROJECT=discretize  # name of the google app engine project
    - TEST=false
    - TEST_DIR=""
    - DEPLOY_DOCS=false
    - DEPLOY_PYPI=false
    - CONDA_REQUIREMENTS="numpy scipy matplotlib cython pip"
    - PYPI_REQUIREMENTS=requirements.txt
    - PYPI_REQUIREMENTS_DEV=requirements_dev.txt

matrix:
  include:
    # test the base code on 2.7, 3.6, 3.7
    - name: "Python 2.7 - base"
      os: linux
      env:
        - PYTHON=2.7
        - TEST=true
        - TEST_DIR="tests/base"
    - name: "Python 3.6 - base"
      os: linux
      env:
        - PYTHON=3.6
        - TEST=true
        - TEST_DIR="tests/base"
    - name: "Python 3.7 - base"
      os: linux
      env:
        - PYTHON=3.7
        - TEST=true
        - TEST_DIR="tests/base"

    # test the cyl code on 2.7, 3.6, 3.7
    - name: "Python 2.7 - cyl"
      os: linux
      env:
        - PYTHON=2.7
        - TEST=true
        - TEST_DIR="tests/cyl"
    - name: "Python 3.6 - cyl"
      os: linux
      env:
        - PYTHON=3.6
        - TEST=true
        - TEST_DIR="tests/cyl"
    - name: "Python 3.7 - cyl"
      os: linux
      env:
        - PYTHON=3.7
        - TEST=true
        - TEST_DIR="tests/cyl"

    # test the cyl code on 2.7, 3.6, 3.7
    - name: "Python 2.7 - tree"
      os: linux
      env:
        - PYTHON=2.7
        - TEST=true
        - TEST_DIR="tests/tree"
        - DEPLOY_PYPI=true
        - CONDA_INSTALL_EXTRA="twine"
    - name: "Python 3.6 - tree"
      os: linux
      env:
        - PYTHON=3.6
        - TEST=true
        - TEST_DIR="tests/tree"
        - DEPLOY_PYPI=true
        - CONDA_INSTALL_EXTRA="twine"
    - name: "Python 3.7 - tree"
      os: linux
      env:
        - PYTHON=3.7
        - TEST=true
        - TEST_DIR="tests/tree"
        - DEPLOY_PYPI=true
        - CONDA_INSTALL_EXTRA="twine"

    # test the docs code on 2.7, 3.6, 3.7
    - name: "Python 2.7 - docs"
      os: linux
      env:
        - PYTHON=2.7
        - TEST=true
        - TEST_DIR="tests/docs"
    - name: "Python 3.6 - docs"
      os: linux
      env:
        - PYTHON=3.6
        - TEST=true
        - TEST_DIR="tests/docs"
    - name: "Python 3.7 - docs"
      os: linux
      env:
        - PYTHON=3.7
        - TEST=true
        - TEST_DIR="tests/docs"
        - DEPLOY_DOCS=true

before_install:
  - source ci/setup-miniconda.sh
  - conda list

install:
  - pip install -e .
  - make build

script:
  - if [ "$TEST" == "true" ]; then
      export MPLBACKEND="agg" ;
      echo "testing $TEST_DIR" ;
      pytest $TEST_DIR --cov-config .coveragerc --cov=discretize -v -s ;
    fi

after_success:
  - if [ "$TEST" == "true" ]; then
      coverage xml;
      echo "Uploading coverage to Codecov";
      codecov -e PYTHON ;
    fi

deploy:
  # pypi release
  - provider: script
    script: ci/deploy-pypi.sh
    skip_cleanup: true
    on:
      tags: true
      condition: '$DEPLOY_PYPI == "true"'
  # deploy docs
  - provider: script
    script: sh ci/deploy-docs.sh
    skip_cleanup: true
    on:
    #   tags: true
      condition: '$DEPLOY_DOCS == "true"'
      branch: repo-cleanup

notifications:
  slack: simpeg:1KZq5giMtlJJ58TijIPgqf7n
  email: false
