trigger:
  branches:
    include:
    - 'main'
    exclude:
    - '*no-ci*'
  tags:
    include:
    - '*'

pr:
  branches:
    include:
    - '*'
    exclude:
    - '*no-ci*'

stages:

- stage: StyleChecks
  displayName: "Style Checks"
  jobs:
    - job:
      displayName: Run style checks with Black
      pool:
        vmImage: ubuntu-latest
      variables:
        python.version: '3.8'
      steps:
        - script: |
            pip install .[style]
          displayName: "Install dependencies to run the checks"
        - script: black --check .
          displayName: "Run black"

    - job:
      displayName: Run style checks with flake8
      pool:
        vmImage: ubuntu-latest
      variables:
        python.version: '3.8'
      steps:
        - script: |
            pip install .[style]
          displayName: "Install dependencies to run the checks"
        - script: flake8
          displayName: "Run flake8"

- stage: Testing
  jobs:
    - template: ./.azure-pipelines/azure-pipelines-linux.yml
    - template: ./.azure-pipelines/azure-pipelines-osx.yml
    - template: ./.azure-pipelines/azure-pipelines-win.yml

- stage: Deploy
  condition: and(succeeded(), startsWith(variables['build.sourceBranch'], 'refs/tags/'))
  jobs:
    - job:
      displayName: Deploy Docs and source
      pool:
        vmImage: ubuntu-latest
      variables:
        DISPLAY: ':99.0'
        PYVISTA_OFF_SCREEN: 'True'
        python.version: '3.10'
      timeoutInMinutes: 180
      steps:
        - bash: |
            git config --global user.name ${GH_NAME}
            git config --global user.email ${GH_EMAIL}
            git config --list | grep user.
          displayName: 'Configure git'
          env:
            GH_NAME: $(gh.name)
            GH_EMAIL: $(gh.email)

        - bash: |
            wget -O Mambaforge.sh  "https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh"
            bash Mambaforge.sh -b -p "${HOME}/conda"
          displayName: Install mamba

        - bash: |
            source "${HOME}/conda/etc/profile.d/conda.sh"
            source "${HOME}/conda/etc/profile.d/mamba.sh"
            cp environment_test.yml environment_test_with_pyversion.yml
            echo "  - python="$(python.version) >> environment_test_with_pyversion.yml
            mamba env create -f environment_test_with_pyversion.yml
            conda activate discretize-test
            pip install pytest-azurepipelines
          displayName: Create Anaconda testing environment

        - bash: |
            source "${HOME}/conda/etc/profile.d/conda.sh"
            conda activate discretize-test
            pip install -e .
          displayName: Build package

        - bash: |
            source "${HOME}/conda/etc/profile.d/conda.sh"
            conda activate discretize-test
            python setup.py sdist
            twine upload --skip-existing dist/*
          displayName: Deploy source
          env:
            TWINE_USERNAME: $(twine.username)
            TWINE_PASSWORD: $(twine.password)

        - bash: |
            source "${HOME}/conda/etc/profile.d/conda.sh"
            conda activate discretize-test
            .ci/setup_headless_display.sh
            cd docs
            make html
            cd ..
          displayName: Building documentation
        # upload documentation to discretize-docs gh-pages on tags
        - bash: |
            git clone --depth 1 https://${GH_TOKEN}@github.com/simpeg/discretize-docs.git
            cd discretize-docs
            git gc --prune=now
            git remote prune origin
            rm -rf en/main/*
            cp -r $BUILD_SOURCESDIRECTORY/docs/_build/html/* en/main/
            touch .nojekyll
            git add .
            git commit -am "Azure CI commit ref $(Build.SourceVersion)"
            git push
          displayName: Push documentation to discretize-docs
          env:
            GH_TOKEN: $(gh.token)

    - job:
      displayName: Windows Wheels
      strategy:
        matrix:
          win-Python38:
            python.version: '3.8'
          win-Python39:
            python.version: '3.9'
          win-Python310:
            python.version: '3.10'
      pool:
        vmImage: windows-latest
      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
        - script: pip install numpy cython twine wheel setuptools_scm
          displayName: Install build dependencies
        - script: python setup.py bdist_wheel
          displayName: Build Wheel
        - script: twine upload --skip-existing dist/*
          displayName: Upload to PYPI
          env:
            TWINE_USERNAME: $(twine.username)
            TWINE_PASSWORD: $(twine.password)
