cython
sphinx<7.0.0
sphinx-gallery
sphinx-toolbox
sphinxcontrib-apidoc
pydata-sphinx-theme
pillow
pytest
pytest-cov
pylint
sympy
wheel
twine
vtk
pyvista>=0.20.1
numpydoc>=1.5
nbsphinx
omf
matplotlib
pymatsolver>=0.1.2
setuptools_scm
