jobs:
- job:
  displayName: Ubuntu
  pool:
    vmImage: ubuntu-latest
  variables:
    DISPLAY: ':99.0'
    PYVISTA_OFF_SCREEN: 'True'
  strategy:
    matrix:
      linux-Python37:
        python.version: '3.7'
      linux-Python38:
        python.version: '3.8'
      linux-Python39:
        python.version: '3.9'
  steps:

  - script: echo '##vso[task.prependpath]$CONDA/bin'
    displayName: Add conda to PATH

  - script: |
      conda update --yes --quiet -n base conda
      conda create --yes --quiet --name test python=$(python.version)
    displayName: Create Anaconda environment

  - script: |
      eval "$(conda shell.bash hook)"
      conda activate test
      conda install --yes --quiet -c conda-forge numpy scipy matplotlib cython vtk pyvista pymatsolver
      pip install -r requirements_dev.txt
      pip install -e .
    displayName: Install requirements and build
    condition: ne(variables['python.version'], '3.8')

  - script: |
      eval "$(conda shell.bash hook)"
      conda activate test
      .ci/setup_headless_display.sh
      pytest -v -s --ignore=tests/docs -W ignore::DeprecationWarning
    displayName: 'Testing'
    condition: ne(variables['python.version'], '3.8')

  - script: |
      eval "$(conda shell.bash hook)"
      conda activate test
      conda install --yes --quiet -c conda-forge numpy scipy matplotlib cython vtk pyvista pymatsolver graphviz
      conda install --yes --quiet -c conda-forge pytest pytest-cov
      pip install -r requirements_dev.txt
      pip install pytest-azurepipelines
      export DISC_COV=1
      pip install -e .
    displayName: Install requirements and build for Testing
    condition: eq(variables['python.version'], '3.8')

  - script: |
      eval "$(conda shell.bash hook)"
      conda activate test
      .ci/setup_headless_display.sh
      pytest -v -s --cov-config=.coveragerc --cov=discretize --cov-report=xml --cov-report=html -W ignore::DeprecationWarning
    displayName: 'Testing with coverage'
    condition: eq(variables['python.version'], '3.8')

  - script: |
      curl -Os https://uploader.codecov.io/latest/linux/codecov
      chmod +x codecov
      ./codecov
    displayName: 'Upload coverage to codecov.io'
    condition: eq(variables['python.version'], '3.8')
